<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/normalize.css">
    <link rel="stylesheet" href="/public/style/reset.css">
    <link rel="stylesheet" href="/public/style/grid.css">
    <link rel="stylesheet" href="/public/style/style.css">
    <link rel="stylesheet" href="/public/style/produtos.css">
    <title>Bikcraft | Sobre </title>
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="index.html" class="grid-4"><img src="/public/images/bikcraft.svg" alt="Logo Bikcraft"></a>

            <nav class="grid-12 header_menu">
                <ul>
                    <li><a href="sobre.html">Sobre</a></li>
                    <li><a href="produtos.html" class="menu_ativo">Produtos</a></li>
                    <li><a href="portfolio.html">Portfólio</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="introducao_interna interna_produtos">
        <div class="container">
            <h1>Sobre</h1>
            <p>Conheça todos os nossos produtos</p>
        </div>
    </section>

    <section class="container produto_item">
        <div class="grid-11">
            <img src="/public/images/bikcraft-passeio-1.jpg" alt="Bikcraft Passeio">
            <h2>Passeio</h2>
        </div>

        <div class="grid-5 produto_icone">
            <img src="/public/images/passeio.svg" alt="Ícone de Passeio">
        </div>

        <div class="grid-8">
            <img src="/public/images/bikcraft-passeio-2.jpg" alt="Bikcraft Passei">
        </div>

        <div class="grid-8 produto_info">
            <p>Muito melhor do que passear pela orla a vidros fechados. A Bikcraft Passeio é uma bicicleta que une conforto e praticidade para o seu dia a dia. Você nunca mais vai querer saber de outra.</p>
            <ul>
                <li>Conforto</li>
                <li>Praticidade</li>
                <li>Design</li>
                <li>Versatilidade</li>
            </ul>
        </div>
    </section>


    <section class="container produto_item">
        <div class="grid-11">
            <img src="/public/images/bikcraft-esporte-1.jpg" alt="Bikcraft Esporte">
            <h2>Esporte</h2>
        </div>

        <div class="grid-5 produto_icone">
            <img src="/public/images/esporte.svg" alt="Ícone de Esporte">
        </div>

        <div class="grid-8">
            <img src="/public/images/bikcraft-esporte-2.jpg" alt="Bikcraft Esporte">
        </div>

        <div class="grid-8 produto_info">
            <p>Muito melhor do que passear pela orla a vidros fechados. A Bikcraft Passeio é uma bicicleta que une conforto e praticidade para o seu dia a dia. Você nunca mais vai querer saber de outra.</p>
            <ul>
                <li>Conforto</li>
                <li>Praticidade</li>
                <li>Design</li>
                <li>Versatilidade</li>
            </ul>
        </div>
    </section>
    
    <section class="container produto_item">
        <div class="grid-11">
            <img src="/public/images/bikcraft-retro-1.jpg" alt="Bikcraft Retro">
            <h2>Retro</h2>
        </div>

        <div class="grid-5 produto_icone">
            <img src="/public/images/retro.svg" alt="Ícone de Retro">
        </div>

        <div class="grid-8">
            <img src="/public/images/bikcraft-retro-2.jpg" alt="Bikcraft Retro">
        </div>

        <div class="grid-8 produto_info">
            <p>Muito melhor do que passear pela orla a vidros fechados. A Bikcraft Passeio é uma bicicleta que une conforto e praticidade para o seu dia a dia. Você nunca mais vai querer saber de outra.</p>
            <ul>
                <li>Conforto</li>
                <li>Praticidade</li>
                <li>Design</li>
                <li>Versatilidade</li>
            </ul>
        </div>
    </section>

    <section class="orcamento">
        <div class="container">
            <h2 class="subtitulo">Orçamento</h2>
            <form id="form_orcamento" class="form grid-8">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome">

                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">

                <label for="telefone">Telefone</label>
                <input type="tel" name="telefone" id="telefone">

                <label for="espec">Especificações</label>
                <textarea name="espec" id="espec" cols="30" rows="10"></textarea>

                <button type="submit" class="btn">Enviar</button>
            </form>

            <div class="orcamento_dados grid-8">
                <h3>Dados</h3>
                <span>+55 21 93223 3232</span>
                <span class="dados_email">orcamento@bikcraft.com</span>

                <h3>Monte a sua Bickcraft</h3>
                <p>Escolha as especificações</p>
                <ul>
                    <li>- Cores</li>
                    <li>- Estilo</li>
                    <li>- Medidas</li>
                    <li>- Acessórios</li>
                    <li>- E Outros</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="quebra">
        <blockquote class="quote-externo container">
            <p>"o verdadeiro segredo da felicidade está em ter um genuíno interesse por todos os detalhes da vida cotidiana."</p>
            <cite>WILLIAM MORRIS</cite>
        </blockquote>
    </section>

    <footer>
        <div class="footer">
            <div class="container">
                <div class="grid-8 footer_historia">
                    <h3>Nossa História</h3>
                    <p>O verdadeiro segredo da felicidade está em ter um genuíno interesse por todos os detalhes da vida cotidiana. interesse por todos os detalhes da vida cotidiana.</p>
                </div>

                <div class="grid-4 footer_contato">
                    <h3>Contato</h3>
                    <ul>
                        <li>- 21 23232-4343</li>
                        <li>- contato@bikcraft.com</li>
                        <li>- Centro - PR</li>
                    </ul>
                </div>

                <div class="grid-4 footer_redes">
                    <h3>Contato</h3>
                    <ul>
                        <li><a href="#" target="_blank"><img src="/public/images/facebook.svg" alt="Facebook"></a></li>
                        <li><a href="#" target="_blank"><img src="/public/images/instagram.svg" alt="Instagram"></a></li>
                        <li><a href="#" target="_blank"><img src="/public/images/twitter.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copy">
            <div class="container">
                <p class="grid-16">bikcraft 2015 - Alguns direitos reservados.</p>
            </div>
        </div>
    </footer>
</body>
</html>